@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900;
}

.rot {
  animation: infinite 0.2s rotat linear;
  transform-origin: center;
}

@keyframes rotat {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
